html {
  scroll-padding-top: 15vh;
  scroll-behavior: smooth;
}

.container {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: cursive;
  width: 100%;
  background-color: #fff0f5;
  background-size: cover;
  background-position: center;
  position: sticky;
  top: 0;
  z-index: 1000;
}

body {
  margin: 0;
  background-color: #ffffff;
  /* background-color: #f4fafb; */
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 15vh;
}

nav ul li {
  list-style-type: none;
  display: inline;
  padding: 10px 20px;
}

nav ul li a {
  text-decoration: none;
  color: #db7093;
  font-size: 1.2rem;
}

.favoland {
  color: #db7093;
  font-size: 1.2rem;
  font-weight: bold;
}

button {
  /* background: linear-gradient(to right, #db7093, #6495ed); */
  background-color: #db7093;
  font-family: cursive;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 1.5rem;
  font-size: 1rem;
  cursor: pointer;
}

.navbar-title {
  font-family: copperplate;
  font-size: 36px;
  background: linear-gradient(to right, #db7093, #6495ed);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

#about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "Palatino", serif;
  font-size: 1.5rem;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
  color: #ffffff;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("../images/iyi.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 85vh;
  padding: 0 2rem 2rem 2rem;
  box-sizing: border-box;
  overflow-y: auto;
}

#about h2 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

#about p {
  max-width: 800px;
  margin: 0 auto;
  line-height: 1.6;
}

#favoland-park {
  display: flex;
  justify-content: space-between;
  padding: 2rem 2rem 0 2rem;
  height: 85vh;
}

#favoland-park img {
  margin-left: 2rem;
}

#contact {
  justify-content: center;
  align-items: center;
  font-family: palatino;
  font-size: 1rem;
}

#gallery {
  justify-content: center;
  align-items: center;
  font-family: palatino;
  font-size: 1rem;
}

#logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon {
  margin: 0 1rem;
}

#video {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 85vh;
  object-fit: cover;
  overflow: hidden;
  background: linear-gradient(to bottom, #fff0f5, #6495ed);
}

#favoland-park-text {
  font-size: 1.4rem;
  line-height: 1.5;
  color: rgb(51, 48, 48);
}
#favoland-park-text h2 {
  color: #6495ed;
}

#california-adventure-park {
  display: flex;
  justify-content: space-between;
  padding: 0 2rem;
  height: 85vh;
}
#california-adventure-park-text {
  font-size: 1.4rem;
  line-height: 1.5;
  color: rgb(51, 48, 48);
}

#california-adventure-park img {
  margin-right: 2rem;
}

#california-adventure-park-text h2 {
  color: #db7093;
}
