body {
  font-family: "Josefin Sans", sans-serif;
}

input {
  border-radius: 1rem;
  border: none;
  padding: 4px 8px;
  font-weight: bold;
  font-family: "Josefin Sans", sans-serif;
}

#signupVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#signupForm {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 100%;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#signup-button {
  background-color: #db7093;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  border-radius: 1.5rem;
  font-family: "Josefin Sans", sans-serif;
}
